In [2]:
import pandas as pd
import numpy as np

# Listing

In [3]:
listing = pd.read_csv('data/listings.csv.gz')

listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4936 entries, 0 to 4935
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            4936 non-null   int64
 1   listing_url                                   4936 non-null   object
 2   scrape_id                                     4936 non-null   int64
 3   last_scraped                                  4936 non-null   object
 4   source                                        4936 non-null   object
 5   name                                          4936 non-null   object
 6   description                                   4880 non-null   object
 7   neighborhood_overview                         2776 non-null   object
 8   picture_url                                   4936 non-null   object
 9   host_id                                       4936 non-null   int64
 10  host_url                                      4936 non-null   object
 11  host_name                                     4934 non-null   object
 12  host_since                                    4934 non-null   object
 13  host_location                                 3986 non-null   object
 14  host_about                                    2841 non-null   object
 15  host_response_time                            4708 non-null   object
 16  host_response_rate                            4708 non-null   object
 17  host_acceptance_rate                          4753 non-null   object
 18  host_is_superhost                             4792 non-null   object
 19  host_thumbnail_url                            4934 non-null   object
 20  host_picture_url                              4934 non-null   object
 21  host_neighbourhood                            1495 non-null   object
 22  host_listings_count                           4934 non-null   float64
 23  host_total_listings_count                     4934 non-null   float64
 24  host_verifications                            4934 non-null   object
 25  host_has_profile_pic                          4934 non-null   object
 26  host_identity_verified                        4934 non-null   object
 27  neighbourhood                                 2776 non-null   object
 28  neighbourhood_cleansed                        4936 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      4936 non-null   float64
 31  longitude                                     4936 non-null   float64
 32  property_type                                 4936 non-null   object
 33  room_type                                     4936 non-null   object
 34  accommodates                                  4936 non-null   int64
 35  bathrooms                                     4933 non-null   float64
 36  bathrooms_text                                4930 non-null   object
 37  bedrooms                                      4933 non-null   float64
 38  beds                                          4918 non-null   float64
 39  amenities                                     4936 non-null   object
 40  price                                         4925 non-null   object
 41  minimum_nights                                4936 non-null   int64
 42  maximum_nights                                4936 non-null   int64
 43  minimum_minimum_nights                        4926 non-null   float64
 44  maximum_minimum_nights                        4926 non-null   float64
 45  minimum_maximum_nights                        4926 non-null   float64
 46  maximum_maximum_nights                        4926 non-null   float64
 47  minimum_nights_avg_ntm                        4936 non-null   float64
 48  maximum_nights_avg_ntm                        4936 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              4927 non-null   object
 51  availability_30                               4936 non-null   int64
 52  availability_60                               4936 non-null   int64
 53  availability_90                               4936 non-null   int64
 54  availability_365                              4936 non-null   int64
 55  calendar_last_scraped                         4936 non-null   object
 56  number_of_reviews                             4936 non-null   int64
 57  number_of_reviews_ltm                         4936 non-null   int64
 58  number_of_reviews_l30d                        4936 non-null   int64
 59  availability_eoy                              4936 non-null   int64
 60  number_of_reviews_ly                          4936 non-null   int64
 61  estimated_occupancy_l365d                     4936 non-null   int64
 62  estimated_revenue_l365d                       4925 non-null   float64
 63  first_review                                  4650 non-null   object
 64  last_review                                   4650 non-null   object
 65  review_scores_rating                          4650 non-null   float64
 66  review_scores_accuracy                        4650 non-null   float64
 67  review_scores_cleanliness                     4650 non-null   float64
 68  review_scores_checkin                         4650 non-null   float64
 69  review_scores_communication                   4650 non-null   float64
 70  review_scores_location                        4650 non-null   float64
 71  review_scores_value                           4650 non-null   float64
 72  license                                       1216 non-null   object
 73  instant_bookable                              4936 non-null   object
 74  calculated_host_listings_count                4936 non-null   int64
 75  calculated_host_listings_count_entire_homes   4936 non-null   int64
 76  calculated_host_listings_count_private_rooms  4936 non-null   int64
 77  calculated_host_listings_count_shared_rooms   4936 non-null   int64
 78  reviews_per_month                             4650 non-null   float64
dtypes: float64(24), int64(20), object(35)
memory usage: 3.0+ MB

In [20]:
listing[['host_is_superhost']]

     host_is_superhost
0                    t
1                    f
2                    f
3                    t
4                    f
...                ...
4931                 f
4932                 f
4933                 f
4934                 f
4935                 f

[4936 rows x 1 columns]

## Dimension: Listing

In [175]:
dim_listing = listing[['id', 'host_id',
                       'listing_url', 'name', 'picture_url', 'description', 'instant_bookable', 
                        'price', 'property_type', 'room_type', 
                        'accommodates', 'beds', 'bedrooms', 'bathrooms', 'bathrooms_text',
                        'latitude', 'longitude', 'neighbourhood_cleansed', 
                        'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin',
                        'review_scores_communication', 'review_scores_location', 'review_scores_value']].copy()

dim_listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4936 entries, 0 to 4935
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           4936 non-null   int64
 1   host_id                      4936 non-null   int64
 2   listing_url                  4936 non-null   object
 3   name                         4936 non-null   object
 4   picture_url                  4936 non-null   object
 5   description                  4880 non-null   object
 6   instant_bookable             4936 non-null   object
 7   price                        4925 non-null   object
 8   property_type                4936 non-null   object
 9   room_type                    4936 non-null   object
 10  accommodates                 4936 non-null   int64
 11  beds                         4918 non-null   float64
 12  bedrooms                     4933 non-null   float64
 13  bathrooms                    4933 non-null   float64
 14  bathrooms_text               4930 non-null   object
 15  latitude                     4936 non-null   float64
 16  longitude                    4936 non-null   float64
 17  neighbourhood_cleansed       4936 non-null   object
 18  number_of_reviews            4936 non-null   int64
 19  review_scores_rating         4650 non-null   float64
 20  review_scores_accuracy       4650 non-null   float64
 21  review_scores_cleanliness    4650 non-null   float64
 22  review_scores_checkin        4650 non-null   float64
 23  review_scores_communication  4650 non-null   float64
 24  review_scores_location       4650 non-null   float64
 25  review_scores_value          4650 non-null   float64
dtypes: float64(12), int64(4), object(10)
memory usage: 1002.8+ KB

In [176]:
str_column = dim_listing.select_dtypes('object').columns

for col in str_column:
    dim_listing.loc[:, col] = dim_listing[col].where(~dim_listing[col].isin(["", "N/A"]), None)

dim_listing['instant_bookable'] = dim_listing['instant_bookable'].map({'t': True, 'f': False})

dim_listing['price'] = dim_listing['price'].str.replace(r'\$|[,]', '', regex = True)
dim_listing['price'] = dim_listing['price'].where(dim_listing['price'].notna(), None)
dim_listing['price'] = dim_listing['price'].astype('Float64')

dim_listing.to_csv('clean_data/dim_listing.csv', index = False)

## Dimension: Host

In [21]:
dim_host = listing[['host_id', 
                    'host_name',
                    'host_picture_url',
                    'host_identity_verified',
                    'host_is_superhost',
                    'host_neighbourhood',
                    'host_response_time',
                    'host_response_rate',
                    'host_since',
                    'host_about',
                    'host_url']].copy()

dim_host.drop_duplicates(inplace=True)

str_column = dim_host.select_dtypes('object').columns

for col in str_column:
    dim_host.loc[:, col] = dim_host[col].where(~dim_host[col].isin(["", "N/A"]), None)

dim_host['host_since'] = pd.to_datetime(dim_host['host_since'])
dim_host['host_response_rate'] = dim_host['host_response_rate'].str.replace('%', '')
dim_host['host_response_rate'] = dim_host['host_response_rate'].astype('Int64')

for col in ['host_identity_verified', 'host_is_superhost']:
    dim_host[col] = dim_host[col].map({'t': True, 'f': False})

dim_host['host_is_superhost'] = np.where(dim_host['host_is_superhost'].isna(), False, dim_host['host_is_superhost'])

dim_host.to_csv('clean_data/dim_host.csv', index = False)

In [22]:
dim_host[ dim_host['host_is_superhost'].isna()]

Empty DataFrame
Columns: [host_id, host_name, host_picture_url, host_identity_verified, host_is_superhost, host_neighbourhood, host_response_time, host_response_rate, host_since, host_about, host_url]
Index: []

## Dimension: Amenities

In [182]:
dim_amenities = listing[['id', 'amenities']].copy()

dim_amenities = dim_amenities.assign(amenities = dim_amenities['amenities'].str.split(',')).explode('amenities')
dim_amenities['amenities'] = dim_amenities['amenities'].str.replace(r'\[|\]|\"', '', regex = True).str.strip()

dim_amenities.drop_duplicates(inplace=True)

dim_amenities = dim_amenities[ ~dim_amenities['amenities'].isin(['', 'N/A'])]

dim_amenities['amenities'] = (
    dim_amenities['amenities']
    .astype(str)
    .str.encode('utf-8')
    .str.decode('unicode_escape')
)

dim_amenities.to_csv('clean_data/dim_amenities.csv', index=False)

In [190]:
dim_amenities.iloc[105034]

id           919450216112985303
amenities               Hangers
Name: 3030, dtype: object

# Calendar

In [180]:
calendar = pd.read_csv('data/calendar.csv.gz')

calendar['available'] = calendar['available'].map({'f': False, 't':True})
calendar['date'] = pd.to_datetime(calendar['date'])

calendar.drop(['adjusted_price', 'price'], axis = 1, inplace=True)

calendar.to_csv('clean_data/fact_calendar.csv', index=False)